<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'}%">
</head>

<body>
    {% block content %}
    <form action="product" autocomplete="off" >
        <h1>
            Product 
        </h1>
        mobile <input type="text" name = "mobile"><br><br>
        keyboard<input type="text" name = "keyboard"><br><br>
        monitor<input type="text" name = "monitor"><br><br>
        <input type="submit" value="Submit">

    </form>
    {% endblock %}


    <!--<div class="contaiver-fliud">
        <div class="col-md-offset-3 col-md-5">
            <form action="product" method="GET" autocomplete="off">
                <h3 class="page-header text-prinary text-center">Product</h3>
                <div class="form-group">
                    <label for="">Mobile</label>
                    <input type="text" class="form-control" name="moblie">
                </div>
                <div class="form-group">
                    <label for="">Keyboard</label>
                    <input type="text" class="form-control" name="Keyboard">
                </div>
                <div class="form-group">
                    <label for="">Monitor</label>
                    <input type="text" class="form-control" name="monitor">
                </div>
                <div class="form-group pull-right">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>

            </form>
        </div>
    </div>-->
</body>

</html>