<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
  <script src="{% static 'bootstrap/jquery/jquery.min.js'%}"></script>
</head>

<body>
  <div class="container-fliud">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="page-header text=primary text-center"> Alert Message</h1>
      {% if message %}
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="altert alert-danger">
        {{messages}}
      </div>
      {% endif%}
      <div class="altert alert-{{message.tags}}">
        {{messages}}
      </div>
      {% endfor%}
      {% endif %}
      <a class="btn btn-success" href="{% url 'Success'%}">Sucess</a>
      <a class="btn btn-info" href="{% url 'Info'%}">Info</a>
      <a class="btn btn-danger" href="{% url 'Danger'%}">Danger</a>
      <a class="btn btn-warning" href="{% url 'Warning'%}">Warning</a>
    </div>
  </div>
  </div>
</body>

</html>

<script>
  $(document).ready(function () {
    $(".alter").hide(4000);
  });
</script>